<style>
    .instafood--menu-about-devider-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .instafood--menu-about-devider-top svg {
        position: relative;
        display: block;
        width: calc(121% + 1.3px);
        height: 47px;
    }

    .instafood--menu-about-devider-top .shape-fill {
        fill: #F5EBDC;
    }
</style>
<div id="about" class="bg-orange-200 w-full p-10 relative">
    <div class="instafood--menu-about-devider-top">
        <svg data-name="InstaFood" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
    <div class="flex flex-nowrap justify-between items-center">
        <div class="ml-0 lg:ml-10">
            <p class="font-bold text-lg lg:text-6xl">InstaFood</p>
            <p class="text-sm lg:text-2xl">Tel: 53 408 357</p>
            <p class="text-sm lg:text-2xl">Email: ramzi.slama@gmail.com</p>
            <a href="https://www.google.com/maps/place/Insta+Food+Mahdia/@35.5246781,11.031477,17z/data=!3m1!4b1!4m5!3m4!1s0x1302235837fb8745:0xdcdb54ea3b48bd6e!8m2!3d35.5246737!4d11.0336479" target="_blank"><p class="text-sm lg:text-2xl">Address: Zone touristique, Mahdia en face résidence Al Habib.</p></a>
            <p class="text-sm lg:text-2xl">Facebook/Instagram: @instafood</p>
        </div>
        <img src="/static/img/logo.webp" class="w-1/4 lg:w-1/12 cursor-pointer hover:animate-spin duration-1000">
        <img src="/static/img/rest-outside-1.jpg" class="rounded-lg w-1/4 drop-shadow hidden lg:block mt-5 -rotate-2">
    </div>
</div>